<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="rangeTable(title, ranges, group)">
    <h5 class="mb-3 text-center section-title-small" th:text="${title}">Заголовок</h5>

    <table class="table table-dark table-cell-borders table-sm mb-0 w-100">
        <colgroup>
            <col style="width:30%;">
            <col style="width:70%;">
        </colgroup>
        <tbody>
        <tr th:each="range : ${ranges}"
            th:attr="data-group=${group},data-param=${range.parameter.parameterName}">
            <td class="unit-label" th:text="${range.parameter.unitOfMeasurement}">ед.</td>
            <td class="min-max-cell">
                <div class="minmax-col">
                    <div class="minmax-val" th:text="${range.minValue}">0</div>
                    <div class="minmax-label">min</div>
                </div>
                <span class="current-value">00</span>
                <div class="minmax-col">
                    <div class="minmax-val" th:text="${range.maxValue}">0</div>
                    <div class="minmax-label">max</div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>

</body>
</html>
