<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Компрессор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/compressor.css}">
</head>
<body>

<main class="app-shell">

    <section id="screen-compressor" class="app-screen active">
        <div class="card">

            <div class="screen-content">

                <h1 class="card-title-main text-center mb-3" th:text="'Компрессор '+ ${compressor.serialNumber}"></h1>

                <div th:attr="data-group='workHours'"
                     th:text="'Наработка часов: 0'">
                </div>

                <nav class="top-tabs mb-3">
                    <button class="tab-btn active" data-target="tab-oil">Масло</button>
                    <button class="tab-btn" data-target="tab-coolant">Охл. жидкость</button>
                    <button class="tab-btn" data-target="tab-gas">Газ по ступеням</button>
                    <button class="tab-btn" data-target="tab-bku">БКУ</button>
                </nav>

                <div class="tab-content">

                    <div id="tab-oil" class="tab-pane active">
                        <div th:replace="fragments/range-table :: rangeTable('Масло', ${oilRanges}, 'oil')"></div>
                    </div>


                    <div id="tab-coolant" class="tab-pane">
                        <div th:replace="fragments/range-table :: rangeTable('Охлаждающая жидкость', ${coolantRanges}, 'coolant')"></div>
                    </div>


                    <div id="tab-gas" class="tab-pane">
                        <div th:replace="~{fragments/range-table :: rangeTable(
                            ${'Газ 1-ой ступени'}, ${gasRangesByStep[1]}, ${'gas-1'})}">
                        </div>

                        <div th:replace="~{fragments/range-table :: rangeTable(
                            ${'Газ 2-ой ступени'}, ${gasRangesByStep[2]}, ${'gas-2'})}">
                        </div>

                        <div th:replace="~{fragments/range-table :: rangeTable(
                            ${'Газ 3-ой ступени'}, ${gasRangesByStep[3]}, ${'gas-3'})}">
                        </div>

                        <div th:replace="~{fragments/range-table :: rangeTable(
                            ${'Газ 4-ой ступени'}, ${gasRangesByStep[4]}, ${'gas-4'})}">
                        </div>
                    </div>


                    <div id="tab-bku" class="tab-pane">
                        <div th:replace="fragments/range-table :: rangeTable(
                            'Индекс влажности газа', ${allRanges['Индекс влажности газа']} ,'IVG')">
                        </div>

                        <div th:replace="fragments/range-table :: rangeTable(
                            'Уровень вибрации', ${allRanges['Уровень вибрации']}, 'vibration')">
                        </div>

                        <div th:replace="fragments/range-table :: rangeTable(
                            'Процент загазованности', ${allRanges['Процент загазованности']}, 'gas-pollution')">
                        </div>

                        <div th:replace="fragments/range-table :: rangeTable(
                            'Температура в БКУ', ${allRanges['Температура воздуха в компрессорном блоке']}, 'tempBKU')">
                        </div>


                    </div>
                </div>
            </div>

            <nav class="bottom-nav inside-card">
                <button type="button" class="nav-btn active" data-target="screen-compressor">
                    Журнал аварий
                </button>
                <button type="button" class="nav-btn active" data-target="screen-compressor"
                        onclick="window.location.href='/'">
                    Назад
                </button>
            </nav>

        </div>
    </section>

</main>

<script th:src="@{/js/compressor.js}"></script>

</body>
</html>
