<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main class="container my-4">
    <div class="row g-4">

        <div class="col-12 col-lg-7">
            <div class="card h-100">
                <h1 class="card-title-main">Станция АГНКС-1 г. Ноябрьск</h1>
                <div>

                    <div class="section-header">
                        <h4 class="section-title mb-0">Рабочий состав</h4>
                        <span class="shift-info">На смене: Машинист Имя Фамилия</span>
                    </div>

                    <ul class="stats-list">
<!--                        <li th:each="worker : ${workers}"-->
<!--                            th:text="${worker.role} + ': ' + ${worker.surname}"-->
<!--                            th:classappend="${worker.role == 'Начальник'} ? ' boss-item'">-->
<!--                        </li>-->

                        <li class="boss-item" >Начальник:  Имя фамилия отчество</li>
                        <li>Машинист: Имя фамилия отчество</li>
                        <li>Машинист: Имя фамилия отчество </li>
                        <li>Машинист: Имя фамилия отчество</li>
                        <li>Машинист: Имя фамилия отчество</li>
                        <li>Машинист: Имя фамилия отчество</li>
                    </ul>
                </div>


                <div class="bottom-block mt-4">
                    <h4 class="section-title">Оборудование</h4>
                    <ul class="stats-list">
                        <li>Компрессор 1 SW-200F4,9-EM</li>
                        <li>Компрессор 2 SW-200F4,9-EM</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-5 d-flex flex-column">
            <div class="card flex-fill mb-3">
                <h1 class="card-title-main">Профиль</h1>
                <div class="section-title">Данные</div>
                <ul class="stats-list">
                    <li>Login: Login</li>
                    <li>Name: name</li>
                    <li>surname: surname</li>
                    <li>Job title: Машинист</li>
                </ul>

                <div class="section-title bottom-block">Действия</div>
                <ul class="stats-list">
                    <li>Заступить на смену/ Закрыть смену</li>
                    <li>Изменить данные</li>
                    <li>Выйти с аккаунта</li>
                </ul>
            </div>

        </div>

    </div>
</main>
</body>
</html>