<div th:fragment="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Компрессора</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Компрессор 1</a></li>
                        <li><a class="dropdown-item" href="#">Компрессор 2</a></li>
                        <li><a class="dropdown-item" href="#">Компрессор 3</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/compressor">Компрессор</a>
                </li>
            </ul>
        </div>
    </nav>
</div>